*:focus{
outline:1px solid;
}
.foodapp{
  font-family: sans-serif;
}

h1{
  margin-top: 15px;
  color:#FFF;
  text-align: center; 
  
}
.welcometxt{
  color:#FFF;
  height:auto;
}

a {
  color: rgb(194, 189, 189);
  text-decoration: none;
}

 /* .image-holder {
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
} */

img {
  width: 100%;
  padding-bottom: 2em;
  position: center;
  height: 510px;
}

table {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
}

td, th {
border: 1px solid #ddd;
padding: 8px;
}

td:first-child {
    width: 11%;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #000;
  background: #fff;
  opacity: 0.7;
}


h2 {
  color :#FFF;
}

* {
  box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */
.div{
  width:100%;
}

.col-sm-3 {
  float: left;
  width:20%;
  padding: 10px;
  height: 500px;
}

.thirdcol p a{
  color:#FFF;
  text-decoration: none;
}
.col-sm-6 {
  float: left;
  width:60%;
  padding: 10px;
  height: 500px;
}
/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
} 

.row{
  background-image: url(../images/home_image4.jpeg);
  color: black;
  background-repeat: no-repeat;
  background-size: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 color: silver;
 text-decoration: none;

}
