  
<div  ng-controller="tableCtrl"> 
        <br>  </br>
     <b><div class="w3-padding w3-large w3-text-white ">
            <i class="fa fa-search"></i>
            </b> <input type="text" placeholder="Search here" ng-model="searchText"> <!-- filter to search inside table-->
        </div>  
           <br>  </br>
             <table>
              <thead>
                 <tr>
                     <th>BookId</th>
                     <th>BookName</th>
                     <th>Author</th>
                 </tr>
                </thead>
                <tbody ng-repeat="b in Books | filter: searchText"> 
                     <tr>
                         <td>{{b.BookId}}</td>
                         <td>{{b.BookName}}</td>
                         <td>{{b.Author}}</td>
                     </tr>
                </tbody>                 
             </table>
</div>
                