  
<div  ng-controller="tableCtrl"> 
     <b>search:</b> <input type="text" placeholder="Search here" ng-model="searchText"> <!-- filter to search inside table-->
           <br>  </br>
             <table>
              <thead>
                 <tr>
                     <th>BookId</th>
                     <th>BookName</th>
                     <th>Author</th>
                 </tr>
                </thead>
                <tbody ng-repeat="b in Books | filter: searchText"> 
                     <tr>
                         <td>{{b.BookId}}</td>
                         <td>{{b.BookName}}</td>
                         <td>{{b.Author}}</td>
                     </tr>
                </tbody>                 
             </table>
</div>
                